div.box {
    background-color: yellow;
    width: 120px;
    height: 200px;
    border: 1px solid #d9f1ff;
    text-align: center;
    padding: 5px;
}
div.box h3 {
    background-color: #4cd964;
}
div.box p {
    background-color: #abccf1;
}
div.box input {
    background-color: #e9f4a8;
    width: 60px;
    margin-top: 10px;
}